body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
    font-family: Verdana;
    text-align: center;
}

.container {
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}


.score-board {
    margin-top: 0px;
    background-color:#080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;  
    padding-left: 30px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 20px;
    font-size: 90px;
    color: #F94F6D;
    font-weight: 400;

}

.btn {
    border: 2px solid #9AABD8;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    border-radius: 5px ;
    background-color: #1B244A;
    font-size: 18px;
    font-family: Cursed Timer ULiL;
    color: #9AABD8;


}